@mixin flex ($direction: row, $justify-content: center, $align-item: center) {
	display: flex;
	flex-wrap: wrap;
	flex-direction: $direction;
	justify-content: $justify-content;
	align-items: $align-item;
}

@mixin inputStyle {
	color: rgb(68, 59, 58);
	outline: none;
	border: none;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 1rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	width: 100%;
	min-height: 100vh;
	color: whitesmoke;
}

button {
	font-weight: 700;
	border: 2px solid whitesmoke;
	color: whitesmoke;
	outline: none;
	background: transparent;
	cursor: pointer;
	transition: all 0.2s ease;
}

p {
	font-size: 1.2rem;
}

.form-container {
	@include flex();
	width: 100%;
	height: auto;
	position: fixed;
	
	form {
		background: rgb(240, 83, 66);
		border-radius: 2rem;
		margin: 2rem 0;
		min-width: 50%;
		height: 70vh;
		@include flex(column, center);
		flex-wrap: wrap;
		box-shadow: 10px -15px 20px 1px rgba(0, 0, 0, 0.2);
	}
}

.input-container {
	width: 50%;
	height: auto;
	@include flex(column);
	flex-wrap: nowrap;
	margin: 1rem;

	label {
		width: 100%;
		font-size: 2rem;
		text-align: left;
	}

	input {
		@include inputStyle();
		padding: 5px 0;
		width: 100%;
		font-size: 2rem;
		background: rgba(255, 255, 255, 0.5);
	}

	textarea {
		@include inputStyle();
		padding: 1rem;
		min-width: 100%;
		max-width: 100%;
		min-height: 30vh;
		font-size: 1.5rem;
		text-align: left;
	}
}

.form__btn__container {
	height: auto;
	margin-bottom: 1rem;

	button {
		font-size: 1rem;
		font-weight: 700;
		border: 2px solid rgba(245, 245, 245, 0.5);
		color: rgba(245, 245, 245, 0.5);
		padding: 0.5rem 1rem;
		outline: none;
		background: transparent;
		cursor: pointer;
		transition: all 0.2s ease;
		animation: heartbeat 1s 5s infinite;

		&:hover {
			border: 2px solid whitesmoke;
			color: whitesmoke;
			animation: none;
		}
	}
}

.notelist-container {
	background: rgba(240, 83, 66, 0.9);
	width: 100%;
	min-height: 40vh;
	@include flex(column, flex-end, center);
	position: relative;
	top: 90vh;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);

	.filter-form {
		width: 100%;
		margin-top: 1rem;
		
		label {
			margin: 1rem;
			font-size: 1.5rem;
			@include flex(column);

			h3 {
				margin: 1rem;
			}

			input {
				@include inputStyle();
				font-size: 1rem;
				padding: 0.5rem;
			}
		}
	}

	ul {
		@include flex(row, space-between, flex-start);
		width: 50%;
		min-height: 90vh;
	}
}

li {
	width: 45%;
	flex-grow: 1;
	min-height: 30vh;
	list-style: none;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	margin: 1rem;
	@include flex(column, space-between);

	.action-container {
		width: 100%;
		@include flex(row, flex-end, center);
		flex-wrap: wrap;

		.button__container {
			margin: 0.5rem;

			button {
				padding: 0.2rem 0.6rem;
				color: rgba(245, 245, 245, 0.5);
				border: 2px solid rgba(245, 245, 245, 0.5);
				&:hover {
					color: rgb(245, 245, 245);
					border: 2px solid rgb(245, 245, 245);
				}
			}
		}
	}

	h2 {
		font-size: 2rem;
	}

	.content-container {
		margin: 2rem 0;
		text-align: left;
	}
}

.alert {
	width: 100%;
	height: auto;

	h2 {
		font-size: 3rem;
		text-transform: uppercase;
	}
}

.text--notify {
	color: rgb(197, 248, 10);
	font-weight: 700;
}


// Animation
@keyframes heartbeat {
	0% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
	15% {
		color: rgba(245, 245, 245, 0.2);
		border: 2px solid rgba(245, 245, 245, 0.2);
	}
	30% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
	45% {
		color: rgba(245, 245, 245, 0.2);
		border: 2px solid rgba(245, 245, 245, 0.2);
	}
	50% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
	100% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
}