* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
}

button {
  font-weight: 700;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

p {
  font-size: 1.2rem;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  position: fixed;
}

.form-container form {
  background: #f05342;
  border-radius: 2rem;
  margin: 2rem 0;
  min-width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 10px -15px 20px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 10px -15px 20px 1px rgba(0, 0, 0, 0.2);
}

.input-container {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1rem;
}

.input-container label {
  width: 100%;
  font-size: 2rem;
  text-align: left;
}

.input-container input {
  color: #443b3a;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 5px 0;
  width: 100%;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.5);
}

.input-container textarea {
  color: #443b3a;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  min-width: 100%;
  max-width: 100%;
  min-height: 30vh;
  font-size: 1.5rem;
  text-align: left;
}

.form__btn__container {
  height: auto;
  margin-bottom: 1rem;
}

.form__btn__container button {
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid rgba(245, 245, 245, 0.5);
  color: rgba(245, 245, 245, 0.5);
  padding: 0.5rem 1rem;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: heartbeat 1s 5s infinite;
          animation: heartbeat 1s 5s infinite;
}

.form__btn__container button:hover {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  -webkit-animation: none;
          animation: none;
}

.notelist-container {
  background: rgba(240, 83, 66, 0.9);
  width: 100%;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 90vh;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.notelist-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-height: 90vh;
}

li {
  width: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 30vh;
  list-style: none;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li .action-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
}

li .action-container .button__container {
  margin: 0.5rem;
}

li .action-container .button__container button {
  padding: 0.2rem 0.6rem;
  color: rgba(245, 245, 245, 0.5);
  border: 2px solid rgba(245, 245, 245, 0.5);
}

li .action-container .button__container button:hover {
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

li h2 {
  font-size: 2rem;
}

li .content-container {
  margin: 2rem 0;
  text-align: left;
}

.alert {
  width: 100%;
  height: auto;
}

.alert h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.text--notify {
  color: #c5f80a;
  font-weight: 700;
}

@-webkit-keyframes heartbeat {
  0% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  15% {
    color: rgba(245, 245, 245, 0.2);
    border: 2px solid rgba(245, 245, 245, 0.2);
  }
  30% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  45% {
    color: rgba(245, 245, 245, 0.2);
    border: 2px solid rgba(245, 245, 245, 0.2);
  }
  50% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  100% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
}

@keyframes heartbeat {
  0% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  15% {
    color: rgba(245, 245, 245, 0.2);
    border: 2px solid rgba(245, 245, 245, 0.2);
  }
  30% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  45% {
    color: rgba(245, 245, 245, 0.2);
    border: 2px solid rgba(245, 245, 245, 0.2);
  }
  50% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  100% {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
}
/*# sourceMappingURL=App.css.map */