@mixin flex ($direction: row, $justify-content: center, $align-item: center) {
	display: flex;
	flex-wrap: wrap;
	flex-direction: $direction;
	justify-content: $justify-content;
	align-items: $align-item;
}

@mixin inputStyle {
	color: rgb(68, 59, 58);
	outline: none;
	border: none;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 1rem;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	width: 100%;
	min-height: 100vh;
	color: whitesmoke;
}

.form-container {
	@include flex();
	width: 100%;
	height: auto;
	
	form {
		background: rgb(240, 83, 66);
		border-radius: 2rem;
		margin: 2rem 0;
		width: 50%;
		min-height: 70vh;
		@include flex(column, center);
		flex-wrap: nowrap;
		box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
	}
}

.input-container {
	width: 50%;
	height: auto;
	@include flex(column);
	flex-wrap: nowrap;
	margin: 1rem 0;

	label {
		width: 100%;
		font-size: 2rem;
		text-align: left;
	}

	input {
		@include inputStyle();
		padding: 5px 0;
		width: 100%;
		font-size: 2rem;
		background: rgba(255, 255, 255, 0.5);
	}

	textarea {
		@include inputStyle();
		padding: 1rem;
		min-width: 100%;
		max-width: 100%;
		min-height: 30vh;
		font-size: 1.5rem;
		text-align: left;
	}
}

.form__btn__container {
	height: auto;
	margin-bottom: 1rem;

	button {
		font-size: 1rem;
		font-weight: 700;
		border: 2px solid rgb(250, 143, 143);
		color: rgb(250, 143, 143);
		padding: 0.5rem 1rem;
		outline: none;
		background: transparent;
		cursor: pointer;
		transition: all 0.2s ease;
		animation: heartbeat 1s 5s infinite;

		&:hover {
			border: 2px solid whitesmoke;
			color: whitesmoke;
			animation: none;
		}
	}
}

.notelist-container {
	background: rgb(240, 83, 66);
	width: 100%;
	min-height: 40vh;
	@include flex(row, center, flex-end);

	ul {
		@include flex(row, space-between);
		width: 50%;
		min-height: 90vh;
	}
}

li {
	min-width: 45%;
	flex-grow: 1;
	min-height: 25vh;
	list-style: none;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	margin: 1rem;
	@include flex(column, space-around);
	
	h2 {
		margin-bottom: 1rem;
	}
}


// Animation
@keyframes heartbeat {
	0% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
	15% {
		color: rgb(250, 143, 143);
		border: 2px solid rgb(250, 143, 143);
	}
	30% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
	45% {
		color: rgb(250, 143, 143);
		border: 2px solid rgb(250, 143, 143);
	}
	50% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
	100% {
		color: whitesmoke;
		border: 2px solid whitesmoke;
	}
}